/* Nav */
nav {
  display: flex;
  background: #f7cb46;
  height: 10vh;
}
nav img {
  width: 421px;
  height: 77px;
}
.dropdown-item {
  background: #f7cb46;
}
nav ul {
  padding-top: 1rem;
  margin-left: 40rem;
}
nav button {
  align-items: center;
  border-radius: 3px;
}
